/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Estilo global para todos los elementos en la página */
*{
    font-family: 'Poppins', sans-serif; /* Define la fuente predeterminada para la página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el encabezado */
header{
    width: 100%;
    height: 8em;
}

/* Estilos para el logo del sitio */
#site-logo a {
    text-decoration: none;
    color: inherit;
}

#site-logo img {
    width: 140px; /* Ajusta el ancho del logo */
}

/* Estilos para la lista no ordenada */
ul li {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0 15px; /* Añade espacio interno a los elementos de la lista */
}

/* Estilos para los enlaces dentro de la lista */
ul li a {
    text-decoration: none;
    font-size: 22px; /* Define el tamaño de fuente para los enlaces */
}

/* Estilos para el contenedor del encabezado */
.contenedor-header{
    width: 100%;
    height: 9em;
    display: flex;
    justify-content: space-around;
}

/* Estilos para el logo del sitio en el encabezado */
#site-logo{
    height: 100%;
    display: flex;
    align-items: center;
}

/* Estilos para la navegación en el encabezado */
.navegacion{
    height: 100%;
    display: flex;
    align-items: center;
    float: right; /* Estilo flotante a la derecha */
    background: #ffff;
}

/* Estilos para la lista de elementos en la navegación */
.lista-elementos{
    display: flex;
}

/* Estilos para cada elemento de la lista de navegación */
.elemento{
    margin: 0 25px;
    position: relative;
    width: 150px;
    text-align: center;
}

/* Estilos para los enlaces dentro de los elementos de la lista de navegación */
.elemento a {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.elemento li {
    text-align: center;
}

/* Estilos para el efecto hover en la navegación */
.navegacion a:hover {
    border-bottom: 3.1px solid #ef9d0c; /* Ajusta el grosor y el color del subrayado */
    margin-bottom: 3px; /* Ajusta el espacio entre el texto y el subrayado */
}

/* Estilos para las opciones del menú desplegable */
.submenu {
    text-align: center;
    margin-top: 2px;
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fff; 
    border: 1px solid #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    padding: 10px;
    width: 100%;
}

/* Mostrar el menú desplegable al hacer hover en el elemento padre */
.elemento:hover .submenu {
    display: block; 
}

/* Estilos para las opciones dentro del menú desplegable */
.submenu li a{
    font-size: 14px;
    color: black;
}






/* parte del formulario*/

/* Estilos para el contenedor del formulario */
.img-contacto img{
    width: 100%;
    height: 480px;
}

.formulario {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column; 
    margin: 20px 0; 
    
}

.formulario h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.formulario p{
    font-size: 14px;
}

.formulario a{
    color: #000000;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 42%;
    text-decoration: none;
    width: 57.5%;
}

.formulario a i{
    color:#e39403 ;
}

.formulario i{
    margin-right: 4%;
}

.formulario-y-mapa {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    grid-gap: 5%;
}



/* Estilos para los campos del formulario */
.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: 0;
}

/* Estilos para el botón del formulario */
.formulario button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
    background: #e39403;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.formulario button:hover {
    background: #e39403;
}
/* HASTA ACA BRRR





/* Estilos para el separador entre elementos */
.separador-elementos{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* Estilos para el pie de página */
#footerBCA{
    background: #f3ac25;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos para el contenedor de información de contacto en el pie de página */
.contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la imagen de contacto en el pie de página */
.img{
    width: 55px;
    height: 55px;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 35px;
}

/* Estilos para la información de contacto en el pie de página */
.texto-contacto{
    margin-left: 10px;
}

.texto-contacto span{
    font-weight: bold;
}

.texto-contacto p{
    max-width: 200px;
}

/* ============================ Organizaacion ============================*/





.contenedor-navegacion-organizacion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Estilos para la navegación en el encabezado */
.navegacion-organizacion{
    height: 100%;
    display: flex;
    align-items: center;
    float: right; /* Estilo flotante a la derecha */
    background: #ffff;
}

/* Estilos para la lista de elementos en la navegación */
.lista-elementos-organizacion{
    display: flex;
}

/* Estilos para cada elemento de la lista de navegación */
.elemento-organizacion{
    margin: 0 12px;
    position: relative;
    width: 160px;
    text-align: center;
}

/* Estilos para los enlaces dentro de los elementos de la lista de navegación */
.elemento-organizacion a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.elemento-organizacion li {
    text-align: center;
}

/* Estilos para el efecto hover en la navegación */
.navegacion-organizacion a:hover {
    border-bottom: 3.1px solid #ef9d0c; /* Ajusta el grosor y el color del subrayado */
    margin-bottom: 3px; /* Ajusta el espacio entre el texto y el subrayado */
}






.bienvenida-contenedor{
    margin-top: 20px;
    padding: 0 60px;
}

.titulo{
    margin-bottom: 20px;
}

.contenedor-informacion{
    display: flex;
}

.informacion-texto{
    max-width: 50%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.foto{
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto img{
    width: 400px;
}